{% extends 'base.html' %}
{% block main_body_block %}


    <div class="container">
        <div class="movie-list">
            <h2>All Movies</h2>
            <hr>
            <div class="row">

                <div class="col-md-6">
                    <div class="movie-card">
                        <h3>{{ movies.name }}</h3>
                        <p>Genre: {{ movies.genre }}</p>
                        <p>Rating: {{ movies.rating }}</p>
                        <p>Release Date: {{ movies.release_date }}</p>
                        <div class="rate-movie">
                            <h4>Rate Movie</h4>
                            <form action="{% url 'movieRatingApp:rate-movie' movies.pk %}" method="POST">
                                {% csrf_token %}
                                <label for="rating">Select a rating:</label>
                                <input type="radio" id="rating1" name="rating" value="1">
                                <label for="rating1">1</label>
                                <input type="radio" id="rating2" name="rating" value="2">
                                <label for="rating2">2</label>
                                <input type="radio" id="rating3" name="rating" value="3">
                                <label for="rating3">3</label>
                                <input type="radio" id="rating4" name="rating" value="4">
                                <label for="rating4">4</label>
                                <input type="radio" id="rating5" name="rating" value="5">
                                <label for="rating5">5</label>
                                <br>
                                <input type="submit" value="Submit Rating">
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}