{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title_block %}
    Sign Up Form
{% endblock %}
{% block main_body_block %}
  <div class="container col-6 my-5 sign-up-container">
  <h2 class="text">Registration</h2>
   <form method="POST" class="my-3">
        {{ form|crispy }}
        {% csrf_token %}
        <button type="submit" class="btn btn-info">Sign UP</button>
       <p>Already have an account? <a href="{% url 'loginApp:login' %}">Login</a></p>
    </form>
  </div>


{% endblock %}